# Project exclude paths
/consumer/target/
/erurekaclient/target/
/eurekaserver/target/
/feign/target/
/hystrix/target/
/nativeconfigclient/target/
/nativeconfigserver/target/
/resttemplates/target/
/ribbon/target/
/zuul/target/